<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.intro.configExtension">
    <configExtension
        configId="org.eclipse.ui.intro.universalConfig"
        content="intro/cloud-tools-for-eclipse.xml" />
  </extension>

<extension point="org.eclipse.mylyn.tasks.bugs.support">
  <!-- category for grouping providers -->
  <category
    description="Community supported open source projects"
    id="org.eclipse.mylyn.tasks.bugs.openSource" name="Open Source Community"
    weight="900" />

  <!-- provider that specifies branding -->
  <provider
    categoryId="org.eclipse.mylyn.tasks.bugs.openSource"
    description="Google Cloud Tools for Eclipse bug tracker"
    icon="platform:/plugin/com.google.cloud.tools.eclipse.appengine.ui/icons/gcp-32x32.png"
    id="com.google.cloud.tools.eclipse.bugs.support.provider"
    name="Google Inc."
    url="https://cloud.google.com/eclipse/docs/"/>

  <!-- mapping for all com.google.cloud.tools.eclipse.* namespaces -->
  <mapping
        namespace="com.google.cloud.tools.eclipse"
        productId="com.google.cloud.tools.eclipse.bugs.support.product">
    <repository kind="bugzilla" url="https://bugs.eclipse.org/bugs"/>
  </mapping>

  <!-- supported product -->
  <product
        id="com.google.cloud.tools.eclipse.bugs.support.product"
        name="Google Cloud Tools for Eclipse"
        description="Public issue tracker on project repository"
        icon="platform:/plugin/com.google.cloud.tools.eclipse.appengine.ui/icons/gcp-32x32.png"
        providerId="com.google.cloud.tools.eclipse.bugs.support.provider"
        url="https://github.com/GoogleCloudPlatform/google-cloud-eclipse/issues"/>
  <!--product
        id="com.google.cloud.tools.eclipse.dist"
        providerId="com.google.cloud.tools.eclipse"
        url="https://cloud.google.com/eclipse/docs/"/-->
  <mapping
      namespace="com.google.cloud.tools.eclipse"
      productId="com.google.cloud.tools.eclipse.bugs.support.product">
    <property name="product" value="Cloud Tools for Eclipse"/>
  </mapping>
</extension>

</plugin>
